:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-clor: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-modal-color: #2e2f42;
  --grey-color: #2e2f42;
  --white-color: #ffffff;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
  color: var(--grey-color);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--iris-color);
  text-transform: uppercase;
}
.header-logo-span {
  color: var(--grey-color);
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--grey-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean-color);
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;

  color: var(--slate-clor);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--ocean-color);
}
.hero {
  background-color: var(--navy-blue-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;

  color: var(--white-color);
}
.hero-button {
  background: var(--iris-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}
.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--grey-color);
}
.advantage-description {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--slate-clor);
}
.work-title {
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navy-blue-modal-color);
}
.team {
  background: var(--cloud-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navy-blue-color);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--navy-blue-modal-color);
}
.team-description {
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--slate-clor);
}
.footer {
  background: var(--navy-blue-modal-color);
}
.footer-logo {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--iris-color);
}
.footer-logo-span {
  color: var(--cloud-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--cornflower-color);
}
.portfolio-btn {
  background: var(--cloud-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;

  color: var(--iris-color);
}
.portfolio-btn:hover,
.portfolio-btn :focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--grey-color);
}
.porfolio-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--slate-clor);
}
